<footer class="main-block">
  <p>20XX - {{ site.year }} - Damien Erambert - <a href="/credits">credits</a> - <a href="/links">links</a></p>
</footer>

<script src="/assets/script.js" type="text/javascript"></script>
