<div
  id="myWebRing"
  style="
    background: #e72b4e;
    width: 150px;
    height: fit-content;
    font-family: Arial;
    border-radius: 5px;
    overflow: clip;
  "
>
  <div style="height: 100px; overflow: hidden">
    <div
      style="
        width: 100%;
        position: relative;
        top: 0%;
        transform: translate(5px, 5px);
        z-index: 5;
      "
    >
      the<br /><b style="color: white">"MY WEBRING"</b><br />webring
    </div>
    <img
      style="
        height: 100px;
        width: auto;
        position: relative;
        top: -54px;
        left: 65px;
      "
      src="https://gumdisease.neocities.org/images/eggbug.png"
    />
  </div>
  <div style="background: #2e1e11; height: 30px">
    <div
      style="
        width: 100%;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        font-weight: bold;
      "
    >
      <a
        style="color: black; text-decoration: none"
        id="myWebRingBack"
        href="https://neocities.org/"
      >
        &LeftArrow;
      </a>
      <a
        style="color: black; text-decoration: none"
        id="myWebRingIndex"
        href="https://gumdisease.neocities.org/WEBRING"
        >INDEX</a
      >
      <a
        style="color: black; text-decoration: none"
        id="myWebRingForward"
        href="https://neocities.org/"
        >&RightArrow;</a
      >
    </div>
  </div>
</div>
<script
  src="https://gumdisease.neocities.org/myWebRing/myWebRing.js"
  type="text/javascript"
></script>
