<div id="myWebRing">
  <div class="webring-head">
    <div class="webring-head-text">
      the<br /><b>"MY WEBRING"</b><br />webring
    </div>
    <img src="/assets/eggbug.webp" alt="eggbug" />
  </div>
  <div class="webring-foot">
    <a id="myWebRingBack" href="https://neocities.org/">
      &LeftArrow;
    </a>
    <a id="myWebRingIndex" href="https://gumdisease.neocities.org/WEBRING">INDEX</a>
    <a id="myWebRingForward" href="https://neocities.org/">&RightArrow;</a>
  </div>
</div>
<script src="https://gumdisease.neocities.org/myWebRing/myWebRing.js" type="text/javascript"></script>