<div id="myWebRing"
  style="color: black; text-align: left; background: #E72B4E; font-family: Arial; border-radius: 5px; overflow: clip; text-shadow: none;">
  <div style="padding: .5em 2em 2em .5em; background: url('/assets/eggbug.webp') no-repeat right / auto 100%;">
    <div>the<br><b style="color: white;">"MY WEBRING"</b><br>webring</div>
  </div>
  <div style="background: #F89241; text-align: center; font-weight: bold;">
    <a id="myWebRingBack">&lt;&lt;&lt;</a>
    <a id="myWebRingIndex" style="color: inherit; text-decoration: none;"
      href="https://gumdisease.neocities.org/WEBRING">INDEX</a>
    <a id="myWebRingForward">&gt;&gt;&gt;</a>
  </div>
</div>
<script src="https://gumdisease.neocities.org/myWebRing/myWebRing.js" type="text/javascript"></script>