---
description: "Posts tagged with {{ tag }}"
layout: "base"
permalink: "/tag/{{ tag | url_encode }}/"
pagination:
  data: "collections"
  alias: "tag"
  size: 1
  addAllPagesToCollections: true
  filter: ["blog", "all", "tagList"]
class_name: h-feed
---
<div class="main-block skinny">
  <h1 class="tag">Posts with #{{ tag }}</h1>
</div>

{% assign posts = collections[tag] | reverse %}
{% render 'blog-posts', posts: posts %}
