---
description: "Posts tagged with {{ posts.tag }}"
layout: "base"
permalink: "/tag/{{ posts.tag | url_encode }}/{{ posts.slug }}/"
class_name: h-feed
---
<div class="main-block skinny">
  <h1 class="tag">Posts with #{{ posts.tag }}</h1>
</div>

{% comment %} {% assign posts = collections[tag] | reverse %} {% endcomment %}
{% render 'blog-posts', posts: posts.posts, pagination: posts.pagination %}
