:root {
  /* Colors from https://www.figma.com/community/file/966779730364082883 */
  --link-red: #ff0000;
  --link: #202a87;
  --primary-black: #262626;
  --primary-white: #ffffff;
  --grays-200: #eeeeee;
  --grays-300: #dddddd;
  --grays-400: #cccccc;
  --grays-500: #bbbbbb;
  --grays-600: #999999;
  --grays-700: #808080;
  --grays-800: #666666;
  --color-azul: #333399;
  --color-lavender: #ccccff;
  --icon-color-azul: #6686b7;
  --icon-color-bondi: #308f91;
  --icon-color-copper: #cc6633;
  --icon-color-crimson: #cc3333;
  --icon-color-emerald: #339966;
  --icon-color-french-blue: #666699;
  --icon-color-gold: #999900;
  --icon-color-ivy: #336633;
  --icon-color-lavender: #6666cc;
  --icon-color-magenta: #993399;
  --icon-color-nutmeg: #996633;
  --icon-color-pistachio: #b5e040;
  --icon-color-plum: #996699;
  --icon-color-poppy: #f46f19;
  --icon-color-rose: #996666;
  --icon-color-sapphire: #3366ff;
  --icon-color-silver: #777777;
  --icon-color-sunny: #d0af3e;
  --icon-color-teal: #477979;
  --icon-color-turquoise: #0099cc;
  --icon-color-black: #000000;
}

.macos9-window {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: var(--grays-400);
  border: 1px solid var(--primary-black);
  box-shadow: 2px 2px 0 var(--primary-black);

  /* Window inner shadows/borders */
  &::before {
    content: "";
    pointer-events: none;
    inset: 0;
    position: absolute;
    z-index: 1;
    box-shadow:
      inset 1px 1px 0 rgba(255, 255, 255, 0.5),
      inset -1px -1px 0 var(--grays-600),
      inset 1px 1px 0 white;
  }
}

.macos9-window.collapsed .macos9-window-body {
  display: none;
}

.macos9-window.zoomed {
  max-width: calc(100% - 10px);
}

.macos9-window-body {
  display: block;
  container-type: inline-size;

  margin: 4px;
  margin-top: 0;
  border: 1px solid var(--primary-black);
  box-shadow:
    -1px -1px 0 rgb(from var(--primary-black) r g b / 40%),
    1px 1px 0 var(--primary-white);
  --top-left-shadow: var(--grays-600);
  --bottom-right-shadow: var(--primary-white);
  box-shadow:
    -1px -1px 0 var(--top-left-shadow),
    -1px 0px 0 var(--top-left-shadow),
    0 -1px 0 var(--top-left-shadow),
    1px 1px 0 var(--bottom-right-shadow),
    1px 0 0 var(--bottom-right-shadow),
    0 1px 0 var(--bottom-right-shadow);

  background-color: var(--primary-white);
}

.macos9-window-titlebar {
  padding: 2px 4px;
  background-color: var(--grays-400);
  display: flex;
  --macos9-window-titlebar-gap: 4px;
  gap: var(--macos9-window-titlebar-gap);
  align-items: center;
  user-select: none;
}

.macos9-window-titlebar > span.filler {
  flex: 1;
  background-color: #dddddd;
  background-image: linear-gradient(#ffffff, #ffffff 50%, #777777 50%, #777777);
  background-repeat: repeat;
  background-size: 100% 2px;
  height: 12px;

  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    background-size: 100% 2px;
    display: block;
  }

  &::before {
    left: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(#fff, #fff 50%, #cccccc 50%, #cccccc);
    border-bottom: 1px solid #cccccc;
  }
  &::after {
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(#ccc, #ccc 50%, #777777 50%, #777777);
  }
}

.macos9-window-titlebar > span.title-text {
  background-color: var(--grays-400);
  height: 100%;
  display: inline-block;
  font-size: 0.75rem;
}

.macos9-window-titlebar > button {
  appearance: none;
  border: none;
  height: 13px;
  width: 13px;

  background: transparent;
  background-image: linear-gradient(135deg, #9a9a9a 0%, #f1f1f1 100%);
  background-size: 9px 9px;
  background-position: center;
  box-shadow:
    inset 1px 1px 0 var(--grays-700),
    inset -1px -1px 0 var(--primary-white),
    inset 0 0 0 2px var(--primary-black),
    inset 3px 3px 0 var(--primary-white),
    inset -3px -3px 0 var(--grays-700);

  position: relative;
  z-index: 0;

  &:active::before {
    content: "";
    inset: 2px;
    background-image: linear-gradient(
      135deg,
      rgba(53, 53, 53, 0.8) 0%,
      rgba(156, 156, 156, 0.8) 100%
    );
    display: block;
    position: absolute;
    z-index: 1;
  }
}

.macos9-window-titlebar > button .button-dots {
  position: absolute;
  inset: 0;
  display: block;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 1px;
    background-color: #cccccc;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 1px;
    background-color: #cccccc;
  }
}

.macos9-window-titlebar > button.zoom::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 1px;
  left: 1px;
  width: 7px;
  height: 7px;
  box-shadow: inset 0 0 0 1px var(--primary-black);
}
.macos9-window-titlebar > button.collapse::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 1px;
  right: 1px;
  height: 3px;
  box-shadow: inset 0 0 0 1px var(--primary-black);
}

.macos9-generic-block {
  background-color: var(--grays-300);
  box-shadow:
    inset 1px 1px 0 var(--primary-white),
    inset -1px -1px 0 var(--grays-700);
  border: 1px solid var(--primary-black);
}

.macos9-window-genericbar {
  background-color: var(--grays-300);
  min-height: 20px;
  box-shadow:
    inset 1px 1px 0 rgba(255, 255, 255, 0.6),
    inset -1px -1px 0 #aaaaaa,
    inset 1px 1px 0 white;
  padding: 4px 0;
  font-size: 0.75rem;
}

.macos9-window-genericbar:first-child {
  border-bottom: 1px solid var(--primary-black);
}
.macos9-window-genericbar:last-child {
  border-top: 1px solid var(--primary-black);
}

.macos9-window-titlebar:has(.button.close, .button.zoom, .button.close)
  .button.close
  + .filler {
  padding-left: calc(13px + var(--macos9-window-titlebar-gap));
}

/* OS9 Button */

:root {
  --scale: 1;
  --btn-border: black;
  --btn-text: var(--primary-black);
  --btn-background: var(--grays-300);
  --btn-bottom-right-shadow: #aaa;
  --btn-bottom-right-shadow2: #777;
  --btn-top-left-shadow: white;
  --btn-corners-shadow: #bbb;
  --btn-border-flourish: #222;
}

.os9-button {
  display: inline-block;
  text-decoration: none;
  border: none;
}

.os9-button:focus-visible {
  outline: none;
}

.grid {
  display: grid;
  grid-template-areas: "... ... s01 s02 s02 s02 s03 ... ..." "... s04 s05 s06 s06 s06 s07 s08 ..." "s09 s10 s38 s11 s11 s11 s12 s13 s14" "s15 s16 s17 s17 bg1 bg1 s18 s19 s20" "s15 s16 s37 bg2 txt bg3 s18 s19 s20" "s15 s16 s37 bg2 bg4 s21 s18 s19 s20" "s22 s23 s24 s25 s26 s26 s27 s28 s29" "... s30 s31 s32 s32 s32 s32 s33 ..." "... ... s34 s35 s35 s35 s36 ... ...";
  grid-template-columns: repeat(4, max-content) 1fr repeat(5, max-content);
  grid-template-rows: repeat(4, max-content) 1fr repeat(4, max-content);
}

.shadow:is([data-n="19"], [data-n="32"], [data-n="27"], [data-n="28"]) {
  background-color: var(--btn-bottom-right-shadow2);
}

.shadow:is([data-n="11"], [data-n="17"], [data-n="37"], [data-n="38"]) {
  background-color: var(--btn-top-left-shadow);
}

.shadow:is([data-n="18"], [data-n="21"], [data-n="25"], [data-n="26"]) {
  background-color: var(--btn-bottom-right-shadow);
}

.shadow:is([data-n="24"]) {
  background-color: var(--btn-background);
}

.shadow:is([data-n="06"], [data-n="16"], [data-n="12"]) {
  background-color: var(--btn-background);
}

.shadow:is(
    [data-n="05"],
    [data-n="07"],
    [data-n="10"],
    [data-n="13"],
    [data-n="23"],
    [data-n="31"]
  ) {
  background-color: var(--btn-corners-shadow);
}

.shadow:is(
    [data-n="02"],
    [data-n="04"],
    [data-n="08"],
    [data-n="15"],
    [data-n="20"],
    [data-n="30"],
    [data-n="33"],
    [data-n="35"]
  ) {
  background-color: var(--btn-border);
}

.shadow:is(
    [data-n="01"],
    [data-n="03"],
    [data-n="09"],
    [data-n="14"],
    [data-n="22"],
    [data-n="29"],
    [data-n="34"],
    [data-n="36"]
  ) {
  background-color: var(--btn-border-flourish);
}

.os9-button.active,
.os9-button:active,
a.os9-button:focus {
  --btn-background: #666666;
  --btn-text: white;
}
.os9-button.active
  .shadow:is(
    [data-n="05"],
    [data-n="06"],
    [data-n="07"],
    [data-n="10"],
    [data-n="16"],
    [data-n="23"],
    [data-n="38"]
  ),
.os9-button:active
  .shadow:is(
    [data-n="05"],
    [data-n="06"],
    [data-n="07"],
    [data-n="10"],
    [data-n="16"],
    [data-n="23"],
    [data-n="38"]
  ),
a.os9-button:focus
  .shadow:is(
    [data-n="05"],
    [data-n="06"],
    [data-n="07"],
    [data-n="10"],
    [data-n="16"],
    [data-n="23"],
    [data-n="38"]
  ) {
  background-color: #444444;
}
.os9-button.active .shadow:is([data-n="11"], [data-n="17"], [data-n="37"]),
.os9-button:active .shadow:is([data-n="11"], [data-n="17"], [data-n="37"]),
a.os9-button:focus .shadow:is([data-n="11"], [data-n="17"], [data-n="37"]) {
  background-color: #555555;
}
.os9-button.active .shadow:is([data-n="12"], [data-n="24"]),
.os9-button:active .shadow:is([data-n="12"], [data-n="24"]),
a.os9-button:focus .shadow:is([data-n="12"], [data-n="24"]) {
  background-color: #666666;
}
.os9-button.active
  .shadow:is(
    [data-n="13"],
    [data-n="25"],
    [data-n="26"],
    [data-n="21"],
    [data-n="18"],
    [data-n="31"]
  ),
.os9-button:active
  .shadow:is(
    [data-n="13"],
    [data-n="25"],
    [data-n="26"],
    [data-n="21"],
    [data-n="18"],
    [data-n="31"]
  ),
a.os9-button:focus
  .shadow:is(
    [data-n="13"],
    [data-n="25"],
    [data-n="26"],
    [data-n="21"],
    [data-n="18"],
    [data-n="31"]
  ) {
  background-color: #777777;
}
.os9-button.active
  .shadow:is(
    [data-n="2d5"],
    [data-n="27"],
    [data-n="19"],
    [data-n="28"],
    [data-n="32"]
  ),
.os9-button:active
  .shadow:is(
    [data-n="2d5"],
    [data-n="27"],
    [data-n="19"],
    [data-n="28"],
    [data-n="32"]
  ),
a.os9-button:focus
  .shadow:is(
    [data-n="2d5"],
    [data-n="27"],
    [data-n="19"],
    [data-n="28"],
    [data-n="32"]
  ) {
  background-color: #888888;
}

.os9-button[disabled] {
  pointer-events: none;
  --btn-border: #9d9d9d;
  --btn-text: #9d9d9d;
  --btn-background: var(--grays-300);
  --btn-bottom-right-shadow: var(--grays-300);
  --btn-bottom-right-shadow2: var(--grays-300);
  --btn-top-left-shadow: var(--grays-300);
  --btn-corners-shadow: var(--grays-300);
  --btn-border-flourish: #9d9d9d;
}

.shadow[data-n="01"] {
  grid-area: s01;
}

.shadow[data-n="02"] {
  grid-area: s02;
}

.shadow[data-n="03"] {
  grid-area: s03;
}

.shadow[data-n="04"] {
  grid-area: s04;
}

.shadow[data-n="05"] {
  grid-area: s05;
}

.shadow[data-n="06"] {
  grid-area: s06;
}

.shadow[data-n="07"] {
  grid-area: s07;
}

.shadow[data-n="08"] {
  grid-area: s08;
}

.shadow[data-n="09"] {
  grid-area: s09;
}

.shadow[data-n="10"] {
  grid-area: s10;
}

.shadow[data-n="11"] {
  grid-area: s11;
}

.shadow[data-n="12"] {
  grid-area: s12;
}

.shadow[data-n="13"] {
  grid-area: s13;
}

.shadow[data-n="14"] {
  grid-area: s14;
}

.shadow[data-n="15"] {
  grid-area: s15;
}

.shadow[data-n="16"] {
  grid-area: s16;
}

.shadow[data-n="17"] {
  grid-area: s17;
}

.shadow[data-n="18"] {
  grid-area: s18;
}

.shadow[data-n="19"] {
  grid-area: s19;
}

.shadow[data-n="20"] {
  grid-area: s20;
}

.shadow[data-n="21"] {
  grid-area: s21;
}

.shadow[data-n="22"] {
  grid-area: s22;
}

.shadow[data-n="23"] {
  grid-area: s23;
}

.shadow[data-n="24"] {
  grid-area: s24;
}

.shadow[data-n="25"] {
  grid-area: s25;
}

.shadow[data-n="26"] {
  grid-area: s26;
}

.shadow[data-n="27"] {
  grid-area: s27;
}

.shadow[data-n="28"] {
  grid-area: s28;
}

.shadow[data-n="29"] {
  grid-area: s29;
}

.shadow[data-n="30"] {
  grid-area: s30;
}

.shadow[data-n="31"] {
  grid-area: s31;
}

.shadow[data-n="32"] {
  grid-area: s32;
}

.shadow[data-n="33"] {
  grid-area: s33;
}

.shadow[data-n="34"] {
  grid-area: s34;
}

.shadow[data-n="35"] {
  grid-area: s35;
}

.shadow[data-n="36"] {
  grid-area: s36;
}

.shadow[data-n="37"] {
  grid-area: s37;
}

.shadow[data-n="38"] {
  grid-area: s38;
}

.shadow {
  min-width: calc(var(--scale) * 1px);
  min-height: calc(var(--scale) * 1px);
}

.bgd[data-n="1"] {
  grid-area: bg1;
}

.bgd[data-n="2"] {
  grid-area: bg2;
}

.bgd[data-n="3"] {
  grid-area: bg3;
}

.bgd[data-n="4"] {
  grid-area: bg4;
}

.bgd,
.label {
  background-color: var(--btn-background);
}

.label {
  grid-area: txt;
  font-weight: bold;
  font-size: 0.625rem;
  padding: 2px 2px;
  line-height: 1em;
  color: var(--btn-text);
}
