<!doctype html>
<html lang="en">
  <head>
    {% include 'meta/head' %}
  </head>

  <body class="{% bodyClass %}">
    <data class="p-name" value="{{site.name}}"></data>
    <data class="u-photo" value="/avatar/avatar-bg.png"></data>
    {% include 'nav.html' %}
    <main>{{ content }}</main>
    {% include 'footer' %}
  </body>
</html>
