<!doctype html>
<html lang="en">
  <head>
    {% include 'meta/head' %}
  </head>

  <body class="{% bodyClass %}">
    {% include 'nav.html' %}
    <main>
      {% render 'blog-post', date: page.date, content: content, tags: tags, title: title, updated: updated %}
    </main>
    {% include 'footer' %}
  </body>
</html>
