<!doctype html>
<html lang="en">
  <head>
    {% include 'meta/head' %}
  </head>

  <body class="{% bodyClass %}">
    <data class="p-name" value="{{site.name}}"></data>
    <data class="u-photo" value="/avatar/avatar-bg.png"></data>
    {% include 'nav.html' %}
    <main class="h-entry">
      {% render 'blog-post', date: page.date, content: content, tags: tags, title: title, updated: updated %}

      {% include 'webmentions' %}
    </main>
    {% include 'footer' %}
  </body>
</html>
