@import url("./hack-font/hack-subset.css");
@import url("./@fontsource/young-serif/index.css");
@import url("./@fontsource/atkinson-hyperlegible/400.css");
@import url("./@fontsource/atkinson-hyperlegible/700.css");
@import url("./@fontsource/atkinson-hyperlegible/400-italic.css");
@import url("./@fontsource/atkinson-hyperlegible/700-italic.css");

/* Comentario */
@import url("./comentario.css");

/* Syntax highlighting */
@import url("./syntax.css");

/* common variables */
:root {
  --width: 80ch;
  --font-fallback-main: system-ui, sans-serif;
  --font-fallback-mono: ui-monospace, "Cascadia Code", "SFMono-Regular",
    "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
  --font-fallback-serif: Superclarendon, "Bookman Old Style", "URW Bookman",
    "URW Bookman L", "Georgia Pro", Georgia, serif;

  --font-monospace: "Hack", var(--font-fallback-mono);
  --font-serif: "Young Serif", var(--font-fallback-serif);
  --font-main: "Atkinson Hyperlegible", var(--font-fallback-main);
  --border-radius: 6px;

  --offblack-background: #212028;
  --offwhite-background: hsl(0, 33%, 96%);
}

/* light colors */
:root {
  --color-accent: #be133c;
  --color-main-background: white;
  --color-main-border: var(--color-accent);
  --color-offblack: var(--offblack-background);
  --color-offwhite: var(--offwhite-background);
  --color-background: var(--color-offwhite);
  --color-text: var(--color-offblack);
  --color-heading: color-mix(in srgb, black 80%, var(--color-text));
  --color-link-base: black;
  --color-link-visited: color-mix(
    in srgb,
    var(--color-text) 90%,
    var(--color-accent)
  );

  --color-code-text: var(--color-accent);
  --color-syntax-background: #fff;
  --color-syntax-border: var(--color-accent);
  --color-syntax-text: #161616;
  --color-syntax-comment: #696969;
  --color-syntax-keyword: #ba0094;
  --color-syntax-property: #7038e5;
  --color-syntax-string: #008323;
  --color-syntax-punctuation: #a34a3d;
}

@media (prefers-color-scheme: dark) {
  /* dark colors */
  :root {
    --color-accent: hsl(343, 81%, 40%);
    --color-main-background: black;
    --color-main-border: var(--color-accent);
    --color-offblack: var(--offblack-background);
    --color-offwhite: color-mix(in srgb, black 10%, var(--offwhite-background));
    --color-text: var(--color-offwhite);
    --color-background: var(--color-offblack);
    --color-heading: color-mix(in srgb, white 80%, var(--color-text));
    --color-link-base: var(--offwhite-background);
    --color-link-visited: color-mix(
      in srgb,
      var(--color-text) 90%,
      var(--color-accent)
    );

    --color-code-text: color-mix(in srgb, white 10%, var(--color-accent));
    --color-syntax-background: #1d1f21;
    --color-syntax-border: color-mix(in srgb, black 50%, var(--color-accent));
    --color-syntax-text: #dedede;
    --color-syntax-comment: #9d9bb6;
    --color-syntax-keyword: #ff88e3;
    --color-syntax-property: #bdaeff;
    --color-syntax-string: #42e071;
    --color-syntax-punctuation: hsl(9, 10%, 65%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-synthesis: none;
  font-family: "Young Serif", serif;
  color: var(--color-heading);
  text-wrap: balance;
}

body {
  font-family: var(--font-main);
  font-size: 1.125rem;
  margin: auto;
  padding: 20px;
  max-width: var(--width);
  text-align: left;
  background-color: var(--color-background);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--color-text);
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  text-decoration-color: var(--color-accent);
  transition:
    text-underline-offset,
    color 160ms ease;

  &:hover {
    text-underline-offset: 4px;
    color: var(--color-link-base);
  }
}

main {
  line-height: 1.6;

  margin-top: 40px;
  padding: 0 24px;
  padding-bottom: 20px;
  border-width: 1px;
  border-color: var(--color-accent);
  border-style: ridge;
  border-radius: 6px;
  background-color: var(--color-main-background);
}

/* TODO: figure out why this was there */
/* main small .tags {
  display: none;
} */

nav a {
  margin-right: 8px;
}

strong,
b {
  color: var(--color-heading);
}

button {
  margin: 0;
  cursor: pointer;
}

table {
  width: 100%;
}

hr {
  border: 0;
  border-top: 1px dashed;
}

img {
  max-width: 100%;
}

blockquote {
  border-left: 2px solid
    color-mix(in srgb, var(--color-text) 75%, var(--color-heading));
  border-left-style: outset;
  color: var(--color-text);
  padding: 0 20px;
  font-style: italic;
  margin-left: 0px;
  margin-right: 0px;

  & p:first-of-type:before {
    content: open-quote;
  }
  & p:last-of-type:after {
    content: close-quote;
  }
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer > :not(#footer-directive) {
  opacity: 0.6;
}

.title:hover {
  text-decoration: none;
}

header .title h1 {
  font-size: 1.4em;
  padding: 5px 10px;
  background: var(--color-accent);
  color: var(--offwhite-background);
  border-radius: calc(var(--border-radius) * 2);
}

header .title h1,
header .title::before {
  filter: drop-shadow(0 10px 10px rgb(0 0 0 / 0.2))
    drop-shadow(0 4px 6px rgb(0 0 0 / 0.1));
}

header .title {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: none;
}

.title::before {
  margin-right: 15px;
  content: "";
  display: block;
  background: url("/assets/avatar.webp");
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

@media (prefers-color-scheme: dark) {
  .title::before {
    background-color: var(--offwhite-background);
    border-radius: 99999999px;
  }
}

.inline {
  width: auto !important;
}

/* blog post list */
ul.blog-posts {
  list-style-type: none;
  padding: unset;
}

ul.blog-posts li {
  display: flex;
  margin-bottom: 20px;
}

ul.blog-posts li time {
  font-style: normal;
}

ul.blog-posts li span {
  flex: 0 0 130px;
}

ul.blog-posts li a:visited:not(:hover) {
  color: var(--color-link-visited);
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px dashed var(--color-heading);
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  main {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  ul.blog-posts li {
    flex-direction: column;
  }

  ul.blog-posts li span {
    flex: unset;
  }
}

/* Custom stuff */

footer {
  text-align: center;
}

footer img {
  display: initial;
  vertical-align: middle;
}

footer p {
  text-align: center;
}

.pixel {
  image-rendering: pixelated;
}

/* images with captions */

.rehype-figure {
  text-align: center;
}

.rehype-figure video {
  max-width: 100%;
}

:is(.rehype-figure, figure) figcaption,
figcaption {
  text-align: center;
}

:is(.rehype-figure, figure) > :is(video, img) {
  margin: 0 auto;
}

:is(.rehype-figure, figure) figcaption a {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

:is(.rehype-figure, figure) figcaption a .external-icon {
  width: 16px;
  height: 16px;
}

/* Links / buttons stuff */
.page.links main .buttons {
  text-wrap: balance;
  text-align: center;
  line-height: 20px;
}

.page.links main .buttons > :is(a, img) {
  margin: 2px;
}

.eggbug-buttons {
  text-align: center;
  margin: 20px 0;
}

.eggbug-button {
  vertical-align: middle;
}

.buttons-mybutton-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 14px;
  gap: 4px;
}

.buttons-mybutton {
  text-align: center;
  margin-bottom: 20px;
}

/* Webring widget */
#myWebRing {
  margin: 10px auto;
  font-family: var(--font-monospace) !important;
  background: transparent !important;
  border-width: 4px;
  border-color: var(--color-accent);
  border-style: ridge;
  border-radius: var(--border-radius);
  width: 400px !important;
}

@media (max-width: 480px) {
  #myWebRing {
    width: 300px !important;
  }
}

#myWebRing img {
  display: none;
}

#myWebRing > div:first-child {
  background-image: url("https://gumdisease.neocities.org/images/eggbug.png");
  background-position: right center;
  background-repeat: no-repeat;
}

#myWebRing b {
  color: inherit !important;
}

#myWebRing > div:last-child {
  background-color: var(--color-accent) !important;
  height: 26px !important;
}

/* Gallery stuff */
.gallery ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 8px;
  padding: 20px 0;
  list-style: none;
}

@media (max-width: 480px) {
  .gallery ul {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
  }
}

.big-image + .gallery ul {
  margin: 0;
  padding-top: 0;
}

.gallery.col-1 ul,
.col-1 {
  grid-template-columns: repeat(1, 1fr);
}
.gallery.col-2 ul,
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.gallery.col-3 ul,
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.gallery.col-4 ul,
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery li {
  position: relative;
  flex-basis: calc(50% - 20px);
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rss-only {
  display: none;
}

.post-datetime {
  font-style: italic;
}

code:not([class]) {
  font-family: var(--font-monospace);
  font-size: 0.8em;
  color: var(--color-code-text);
  font-variant-ligatures: none;
}
