@font-face {
  font-family: "PP Right Serif Web";
  src: url("../fonts/pp-right/PP Right Serif - Medium.woff") format("woff");
  src: url("../fonts/pp-right/PP Right Serif - Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "PP Right Serif Web";
  src: url("../fonts/pp-right/PP Right Serif - Bold.woff") format("woff");
  src: url("../fonts/pp-right/PP Right Serif - Bold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "PP Right Serif Web";
  src: url("../fonts/pp-right/PP Right Serif - Light.woff") format("woff");
  src: url("../fonts/pp-right/PP Right Serif - Light.woff2") format("woff2");
  font-weight: 300;
}
