figure:has(+ .gallery) {
  margin: 0;
}

.gallery ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 8px;
  padding: 20px 0;
  padding-top: 0;
  list-style: none;
  margin: 0;
}

.gallery figure,
.gallery figure img,
.gallery figure a {
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}