@import url("./redesign.reset.css");

/* Fonts and sizes. */
:root {
  --font-fallback-main: system-ui, sans-serif;
  --font-fallback-mono:
    ui-monospace, "Cascadia Code", "SFMono-Regular", "Menlo", "Monaco",
    "Consolas", "Liberation Mono", "Courier New", monospace;
  --font-fallback-serif:
    Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L",
    "Georgia Pro", Georgia, serif;

  --font-monospace:
    "Atkinson Hyperlegible Mono Variable", var(--font-fallback-mono);
  --font-serif: "Merriweather Variable", var(--font-fallback-serif);
  --font-main: "Atkinson Hyperlegible Next Variable", var(--font-fallback-main);

  --font-size-main: 1.2rem;
  --font-size-small: 1rem;
  --media-radius: 10px;
}

/* Colors */
:root {
  --color-accent: hsl(346 82% 41%);
  --color-white: white;
  --color-black: black;

  --color-offwhite: hsl(
    from var(--color-accent) calc(h - 346) calc(s - 49) calc(l + 55)
  );
  --color-accent-comp: hsl(from var(--color-accent) calc(h - 145) s l);
  --color-accent-off: color-mix(
    in srgb,
    var(--color-accent) 90%,
    var(--color-offwhite)
  );
  --color-offblack: color-mix(in srgb, var(--color-accent) 40%, black);
  --color-offblack-comp: color-mix(
    in srgb,
    var(--color-accent-comp) 40%,
    black
  );

  /* --color-offblack-off: color-mix(in srgb, var(--color-accent-off) 60%, black); */
}

:root {
  /* Semantic. */
  --color-bg-main: var(--color-offwhite);
  --color-bg-bg-header: var(--color-offwhite);
  --color-bg-header: var(--color-accent);
  --color-fg-header: var(--color-offwhite);
  --color-text: var(--color-offblack);
  --color-link: var(--color-accent-off);
  --color-blockquote-border: var(--color-accent);

  --content-width: 50rem;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-bg-main);
  font-size: var(--font-size-main);
  line-height: 1.5;
  color: var(--color-text);
}

header {
  background-color: var(--color-bg-bg-header);

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding-block: 20px;
  padding-block-end: 20px;
  padding-inline: 20px;
  z-index: 1;
  position: relative;
}

header > * {
  filter: drop-shadow(
    0 3px 6px color-mix(in srgb, transparent 50%, var(--color-bg-header))
  );
}

logo {
  grid-column: 1;
  font-size: 1.4em;
  font-family: var(--font-serif);
  font-weight: 777;
  color: var(--color-fg-header);
  background-color: var(--color-bg-header);
  padding: 5px 12px;
  border-radius: 12px;

  span {
    font-weight: 200;
    opacity: 0.5;
  }
}

header nav {
  grid-column: 3;
  color: var(--color-fg-header);
  background-color: var(--color-bg-header);
  --hover-bg: color-mix(in srgb, black 30%, var(--color-bg-header));

  border-radius: 12px;
  text-transform: capitalize;
  font-weight: 666;
  font-size: var(--font-size-main);
  display: flex;
  overflow: hidden;

  & a {
    text-decoration: none;
    padding-block: 5px;
    background-color: transparent;
    transition: background-color 200ms ease;
  }

  & a:hover {
    background-color: var(--hover-bg);
  }

  & a:first-child {
    border-right: 1px solid var(--hover-bg);
  }
  & a:last-child {
    border-left: 1px solid var(--hover-bg);
  }

  & a:first-child,
  & a {
    padding-inline-start: 12px;
  }
  & a:last-child,
  & a {
    padding-inline-end: 12px;
  }
}

main {
  padding: 1rem;
  position: relative;
  width: var(--content-width);
  margin: 0 auto;
}

h1.greeting {
  font-family: var(--font-serif);
  font-weight: 550;
  font-size: 3rem;
}

/* Prose stuff */

main {
  a:any-link {
    color: var(--color-link);
    /* text-decoration-thickness: 2px; */
  }

  a:any-link:hover {
    background-color: var(--color-link);
    color: var(--color-bg-main);
  }

  small {
    font-size: smaller;
    font-weight: bold;
  }

  strong,
  small,
  em {
    color: var(--color-small-prose);
  }

  table {
    border-collapse: collapse;
  }

  table th {
    font-weight: 600;
  }

  table,
  th,
  td {
    border: 1px dashed var(--color-text);
    padding: 10px;
  }

  table {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-block-end: revert;
  }

  blockquote {
    border-left-width: 2px;
    border-left-style: dotted;
    border-left-color: var(--color-blockquote-border);
    padding-inline: 16px;
    margin-inline: 0;
    position: relative;
  }

  figure {
    margin-inline: 0;
  }

  img,
  video {
    border-radius: var(--media-radius);
  }

  img {
    cursor: zoom-in;
  }

  figcaption {
    margin-block: 0.6em;
    font-style: italic;
    font-size: var(--font-size-small);
    text-align: center;
  }
}

::view-transition-image-pair(img-zoom) {
  isolation: isolate;
}
